@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-secondary: #303030;
  --color-background: #FAFAFA;
  --color-surface: #F2F2F2;
  --color-accent: #4C8DFA;

  --font-sans: 'Poppins', sans-serif;
}

body {
  color: var(--color-secondary);
  background-color: var(--color-background);
  font-family: var(--font-sans);
}